:root {
    --background-color: #f7f7f7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: #333;
    line-height: 1.5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    color: #007BFF;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

button:hover {
    background-color: #3e8e41;
    transform: scale(1.1);
}

.contact-btn {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.contact-btn:hover {
    background-color: #3e8e41;
    color: #fff;
}
